img{
	display: block;
	max-width: 100%;  /*最大宽度不能超过母元素的100%*/
}
img,.side-bar-card {
    border-radius: 5px;
}
.navbar-brand {
  width: 150px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.side-bar{
	margin-top: 18px;
}
.side-bar .list-group-item {
    border: 0;
    background-color:#eee;
}
.side-bar .list-group-item.newactive:hover {
    background-color: #ea0c3c;
}

.new-list-item{
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #eee;
}

.new-list-item .title {
    display: block;
    color: #444;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
    line-height: 2;
}
.new-list-item .info{
	color: #888;
}
a:hover {
    text-decoration: none;
}
.new-list-item .title:hover {
    color: #337ab7;
}
.side-bar-card {
  background: rgba(0,0,0,.05);
  margin-top: 15px;
  padding: 10px 0;
}

/*设置轮播图片的自适应宽度*/
#carousel-example-generic{
	height: 430px;
}
#carousel-example-generic .carousel-inner .item img {
			display: block;
			width: 100%;
			height: 430px;		
}

.side-bar-card .card-title {
  font-size: 18px;
  font-weight: bold;
  padding-top: 0;
  padding-bottom: 0;
}

.card-body .list .item .title {
  padding-bottom: 5px;
}

.side-bar-card .card-title,.side-bar-card .card-body .list .item {
  padding: 8px 15px;
}
.side-bar-card .card-body .list .item:hover {
  background: rgba(0,0,0,.1);
}
.card-body .list .item .desc {
  color: #999;
}
.card-body .list .item .title:hover{
	color: #337ab7;
}
.card-body .list .item .title{
	display: block;
	color: #444;
}

.footer {
  margin-top: 20px;
  padding: 50px 0;
  text-align: center;
  color: #999;
}

.news-list{
	line-height: 1.2;
	
}

.news-status{
	color: #999;
}
.news-status .label{
	opacity: .7;      /*不透明度*/
}

.news-content{
	margin-top: 20px;
	font-size: 15px;
	line-height: 2;
	}
.news-content img{
	margin-top: 10px;
	margin-bottom: 10px;
}
/*左右的paddig为零*/
.no-padding-h{
	padding-left: 0;
	padding-right: 0;
}

.new-list-item img {
	transition: 500ms;
    -webkit-transition: 500ms;
	-moz-transition: 500ms;
}
.new-list-item img:hover{
	-moz-transform:scale(1.1); 
	-webkit-transform:scale(1.1); 
	-o-transform:scale(1.1);
	}
.card-body .list .item img{
	transition: 500ms;
    -webkit-transition: 500ms;
	-moz-transition: 500ms;
}
.card-body .list .item img:hover{
	-moz-transform:scale(1.1); 
	-webkit-transform:scale(1.1); 
	-o-transform:scale(1.1);
	}
	
.container-small{
	max-width: 500px;
}

.btn-sample{
  background-color:#ea0c3c;
  border-color: #db0d3a;
  color: #000000;
}

.btn-sample:hover{
  background-color: #d50c37;
  border-color: #d50c37;
}

/*在toggle-checkbox被打勾的时候toggle-checkbox下面的div显示*/
#toggle-checkbox:checked ~ div {
  display: block !important;     /*!important践踏一切规则的规则*/
}

#toggle-label {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 13px;
  font-size: 16px;
  font-weight: normal;
  color: #666;
  display: none;
}

#toggle-label:hover {
  color: #333;
}

.news-content strong{
	color: #000000;
	font-size: 18px;
	font-weight: 700;
}
.arrow{
	margin-top: 18px;
	margin-bottom: 18px;
}

/*热点焦虑主题样式*/
.side-bar-cards .card-titles{
	font-size: 18px;
	text-align: center;
	font-weight: bold;
  	padding-top: 8px;
  	padding-bottom: 8px;
  	background-color:#708090;
}

.card-title{
	background-color:#708090;
	
}

.media-body .list{
	margin-top: 15px;
	margin-bottom: 15px;
}

.side-bar .list-group-item.active{
    background-color: #ea0c3c;
}