img{
	display: block;
	width: 100%;  /*最大宽度不能超过母元素的100%*/
}
img,.side-bar-card {
    border-radius: 5px;
}
.navbar-brand {
  width: 150px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

/*在toggle-checkbox被打勾的时候toggle-checkbox下面的div显示*/
#toggle-checkbox:checked ~ div {
  display: block !important;     /*!important践踏一切规则的规则*/
}
#toggle-label {
  display: inline-block;
  position: absolute;
  right: 15px;
  top: 13px;
  font-size: 16px;
  font-weight: normal;
  color: #666;
  display: none;
}
#toggle-label:hover {
  color: #333;
}

/*轮播样式自适应*/
#carousel-example-generic{
	height: 100px;
}
#carousel-example-generic .carousel-inner .item img {
			display: block;
			width: 100%;
			height: 100px;		
}

/*row1内容的样式*/

.row{
	padding-top: 20px;
}

.side-bar .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 3px;
}

.side-bar .list-group-item {
  border-right: 0;
  border-left: 0;
  border-radius: 3px;
}

.list-group-item.newactive:hover{
  background-color: #4682B4;
  color: white;
}

.side-bar .list-group-item:hover{
	color: blue;
	
}
.list-group-item.newactive{
  background:#4682B4;
  color: white;
}

.row #carousel-example{
	height: 400px;
}
.row #carousel-example .carousel-inner .item img {
			display: block;
			width: 100%;
			height: 400px;		
}


.line{
  height:0;
  padding-bottom: 0;
  border-bottom:2px solid #D5D5D5;
  text-align:center;
  
}
.text{
	font-size: 18px;
   position:relative;
   top: -10px;
  background-color:#fff;
  padding: 0 10px;

}
.line a{
	color: #1E90FF;
}
.line a:hover{
	text-decoration: none;
}
.title a{
	color: #000000;
}
.title a:hover{
	color: #1E90FF;
	text-decoration: none;
}
.card-body{
	padding-top: 10px;
}
.card-body .list .item .title {
  padding-bottom: 3px;
}

.side-bar-card .card-title,.side-bar-card .card-body .list .item {
  padding: 5px 10px;
}


.card-body .list .item .title:hover{
	color: #337ab7;
}
.card-body .list .item .title{
	display: block;
	color: #444;
}
.card-body .list .item img{
	transition: 500ms;
    -webkit-transition: 500ms;
	-moz-transition: 500ms;
}
.card-body .list .item img:hover{
	-moz-transform:scale(1.1); 
	-webkit-transform:scale(1.1); 
	-o-transform:scale(1.1);
	}

/*row2的内容样式*/
.titles{
	font-size: 20px;
	font-weight: bold;
	padding-left: 10px;
	color: #1E90FF;
}
/*.panel-default:hover{
	transform:translateY(-10px);
}*/
.card-body .list .items .desc {
  color: #999;
}
.thumbnail img{
	width: 90%;
	height: 150px;
}

.card-body .list .items a{
	color: #000000;
}
.card-body .list .items a:hover{
	color: #1E90FF;
	text-decoration: none;
}
.card-body .list .items .desc{
	margin-top: 10px;
}
.media-body{
	padding-top: 18px;
}
.thumbnail{
	padding-top: 10px;	
}
.thumbnail:hover{
	transform:translateY(-10px);
}

.thumbnail img{
	transition: 500ms;
    -webkit-transition: 500ms;
	-moz-transition: 500ms;
}
.thumbnail img:hover{
	-moz-transform:scale(1.1); 
	-webkit-transform:scale(1.1); 
	-o-transform:scale(1.1);
	}

/*row4的内容样式*/
#title{
	font-size: 16px;
	font-weight: 700;
	
	
}

.nav a{
	text-decoration: none;
	color: #000000;
}
.nav a:hover{
	text-decoration: none;
	color: #1E90FF;
}
.card-body .list .item .desc{
	padding-top: 15px;
	color: #A4A4A4;
}
.card-body .list .item img{
	padding-top: 5px;
}

.glyphicon-grain{
	color: red;
}
.bg-info li{
	padding-top: 8px;
}
.footer {
  margin-top: 20px;
  padding: 50px 0;
  text-align: center;
  color: #999;
}